fastapi
uvicorn[standard]
strawberry-graphql[fastapi]
httpx
pandas
pydantic
pydantic-settings
python-dotenv
python-json-logger
pytest
pytest-asyncio
pytest-httpx
pytest-cov
pytest-mock
faker
freezegun
pytest-xdist==3.5.0
pytest-timeout==2.2.0